<h1>Welcome to MarginCall</h1>
<p>This is a cool web application for people who trade securities. If you want to know if an event occurs to a security of your choosing, we will give you a 'margin call'! Please <%= link_to 'sign up', new_user_path %> or <%= link_to 'login', login_path %> to set up your triggers.</p>

<h3>Security Selection</h3>
<p>We partnered up with Yahoo! Finance in order to bring stocks, bonds, ETFs and mutual funds to you. You will need to specify the security your interested in via their <b>ticker</b> symbol. If you are unsure, please check <%= link_to 'YAHOO! FINANCE', "http://finance.yahoo.com" %> for the correct ticker </p>

<h3>How Do We Contact You</h3>
<p>While you sign up, you will need to provide a valid email address. You can optionally provide an additional email address and a phone number if you wish to receive notifications there.</p>
