<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Dear <%= @user.name %>,</h1>
     <p>
      This is an alert for your trigger set for <%= @trigger.ticker %>.
      Follow this link to view more information PLACEHOLDER.COM.<br> <!-- add the heroku link to the link its -->
    </p>
    <p>


    <p>Thanks for using MarginCall and have a great day!</p>
  </body>
</html>