<div class = "row">
  <div class="col-md-8 col-offset-md-4">

    <script>
      
     //check if the element with id ticker exists or not
      $(document).ready(function () {
          $('#myticker').highcharts('StockChart', {
          
            title: {
              text: '<%= @ticker %> Stock Price'
            },

            yAxis: {
              title: {
                text: 'Price'
              },
              type: 'double',
              floor: 0,
              plotLines: [{
                value: 0,
                width: 2,
                color: 'silver'
              }], 
            },

            series : [{
                name :'<%= @ticker %>',
                data : <%= @stock_data %>,
            }]
          });

          var chart = $('#myticker').highcharts(),
              triggers = <%= @triggers %>;

          for(i = 0; i < triggers.length; i++){
            chart.yAxis[0].addPlotLine({
              value : triggers[i],
              color : 'red',
              dashStyle : 'shortdash',
              width : 2,
              label: {
                align: 'right',
                text : 'Trigger: $' + triggers[i]

              }
              
            })
          }
      });

    </script>
    <div id= "myticker"></div>
  </div>
</div>