<div class = "row">
  <div class="col-md-8 col-offset-md-4">

    <script>
      
     //check if the element with id ticker exists or not
      $(document).ready(function () {
          $('#myticker').highcharts('StockChart', {
          
            title: {
              text: '<%= @ticker %> Stock Price'
            },

            yAxis: {
              type: 'double',
              floor: 0,
              plotLines: [{
                value: 0,
                width: 2,
                color: 'silver'
              }]
            },

            series : [{
                name :'<%= @ticker %>',
                data : <%= @stock_data %>,
            }]
          });
      });
    </script>
    <div id= "myticker"></div>
  </div>
</div>