<% rss_tickers = ""%>
<% Trigger.all.each do |trigger| %>
	<% if trigger.userEmail == @user.email1%>
		<% rss_tickers += trigger.ticker + ","%>
	<% end %>
	<% rss_tickers = rss_tickers.chomp %>
<% end %>
<% if rss_tickers != "" %>
  <% @rss = RssJob.getrss(rss_tickers) %>

  <tbody>
  	<strong>News for your stocks</strong>
  	
  	<BR> 
    <% @rss.items.each do |item| %>
      <tr>
        <td><%= link_to "#{item.title}", item.link %></td>
        <BR> 
      </tr>
    <% end %>
  </tbody>

<% else %>

  <tbody>
    <strong>Market News</strong>
    <% @rss = RssJob.getrss("INDU") %>
  
    <BR> 
    <% @rss.items.each do |item| %>
      <tr>
        <td><%= link_to "#{item.title}", item.link %></td>
        <BR> 
      </tr>
    <% end %>
  </tbody>


<% end %>