<% rss_tickers = ""%>
<% Trigger.all.each do |trigger| %>
	<% if trigger.userEmail == @user.email1%>
		<% rss_tickers += trigger.ticker + ","%>
	<% end %>
	<% rss_tickers = rss_tickers.chomp %>
<% end %>
<div class="panel panel-default"> 


        <% if rss_tickers != "" %>
          <% @rss = RssJob.getrss(rss_tickers) %>

          <div class="panel-heading">News for your stocks</div>
          <div class="panel-body">
          <tbody> 
            <% prev_title = ""%>
            <% @rss.items.each do |item| %>
              <ul>
                <% if item.title != prev_title %>
                  <li><%= link_to "#{item.title}", item.link %></li>
                  <% prev_title = item.title %>
              
              <% end %>
            </ul>
            <% end %>
          </tbody>
          
        <% else %>

          <div class="panel panel-heading">Market News</div>
          <div class="panel-body">
          <tbody>
            <% @rss = RssJob.getrss("INDU") %>
            <% prev_title = ""%>
            <% @rss.items.each do |item| %>
              <ul>
                <% if item.title != prev_title %>
                  <li><%= link_to "#{item.title}", item.link %></li>
                  <% prev_title = item.title %>
                 <% end %>
              </ul>
            <% end %>
          </tbody>
          </div>

        <% end %>
</div>